* {
  /* margin: 0; */
}
body {
    background-color: black;
    color: white;
    background-image: url(https://c.wallhere.com/photos/0c/ff/black_background_simple_minimalism_digital_art-1616665.jpg!d);
    background-repeat: no-repeat;
    background-size: cover;
}

.egoditor-logo__text {
    /* position: absolute; */
    color: white;
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    top: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: -.05em;
    padding: 0%;
    margin: 0%;
    cursor: pointer;
}


.container {
  width: 60%;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff0f;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.secure{
    font-size: 50px;
    text-align: center;
    font-family: "Work sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    margin-top: 180px;
    cursor: pointer;
 }

h2 {
  text-align: center;
  font-family: cursive;
  margin-bottom: 20px;
  color: #ffffff;
}

.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.paragraph{
    font-weight: 500;
    font-style: italic;
    font-size: 1.5rem;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    color: rgb(172, 166, 166);
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}

.slide img {
  width: 1000px;
  max-height: 400px;
  height: auto;
}
p {
  font-family: "Work sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
img {
  border-radius: 10px;
}
