@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.allsingin{
    place-items: center;
    display: grid;

}

::selection{
    background: #4158d0;
    color:#fff;
}

.wrapper-singin{
    width: 500px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}

.wrapper-singin .title-singin{
    font-size: 35px;
    font-weight: 600;
    text-align: left;
    color: #fff;
    user-select: none;
    border-radius: 15px 15px 0 0;
    background: #2b519a;
    padding: 32px;
}

.title-singin p{
    font-size: 18px;
}

.wrapper-singin .form-singin{
    padding: 10px 30px 50px 30px;
}

.wrapper-singin .form-singin .field-singin{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.wrapper-singin .form-singin .field-singin input{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 17px;
    padding-left: 20px;
    border: 1px solid lightgray;
    transition: all 0.3s ease;
}

.wrapper-singin .form-singin .field-singin input:focus,
.form-singin .field-singin input:valid{
    border-color: #4158d0;
}

.wrapper-singin .form-singin .field-singin label{
    position: absolute;
    top: 50%;
    left: 20px;
    color: #999999;
    font-weight: 400;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.form-singin .field-singin input:focus ~ label,
.form-singin .field-singin input:valid ~ label{
    top: 0%;
    font-size: 16px;
    color: #4158d0;
    background: #fff;
    transform: translateY(-50%);
}

.form-singin .content-singup{
    display: flex;
    width: 100%;
    height: 50px;
    font-size: 16px;
    align-items: center;
    justify-content: space-around;
}

.form-singin .content-singup .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-singin .content-singup input{
    width: 15px;
    height: 15px;
}

.form-singin .content-singup label{
    color: #262626;
    user-select: none;
    padding-left: 5px;
}

.form-singin .content-singup .pass-link{
    color: "";
}

.form-singin .field-singin input[type="submit"]{
    color: #fff;
    border: none;
    padding-left: 0;
    margin-top: -10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background: #2b519a;
    transition: all 0.3s ease;
}

.form-singin .field-singin input[type="submit"]:active{
    transform: scale(0.95);
}

.form-singin .signup-link{
    color: #262626;
    margin-top: 20px;
    text-align: center;
}